@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:wght@300&display=swap');

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

*{
    font-family: 'Roboto Mono', monospace;
}

button{
    width: 350px;
    height: 250px;
}

@media all and (max-width:767px){
    div{
        display: flex;
        justify-content: center;
    }
    
    button{
        width: 200px;
        height: 100px;
        margin-top: 10px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px){
    div{
        display: flex;
        justify-content: center;
    }
    
    button{
        width: 500px;
        height: 200px;
        margin-top: 10px;
    }
}